/.quarto/
/.luarc.json
/docs-resources/
Courses/Applications/*
!Courses/Applications/.gitkeep
!Courses/Applications/_metadata.yml
!Courses/Applications/1_1_MultiProcessing-smt-sol.ipynb
/applications.yml
/slides.yml
/teacher-playground
.venv
/_*.local
quarto.err
quarto.out
Courses/tikz-figures/*
!Courses/tikz-figures/*.svg
!Courses/tikz-figures/*.tex
.fake
_freeze/
.jupyter_cache/